<p id="notice"><%= notice %>
</p>

<div class="row">
  <div class="col-md-5">
<%= image_tag @listing.image.url(:thumb) %>
  </div>

<div class="col-md-7">
<p>
  <h3><%= @listing.name %></h3>
</p>
  
<p>
  <h5><%= number_to_currency @listing.price %></h5>
</p>

<p>
  <p><%= @listing.description %></p>
</p>


<%= link_to 'Edit', edit_listing_path(@listing),class:"btn btn-link" %> |
<%= link_to 'Back', listings_path, class:"btn btn-link" %>

  </div>

</div>